<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/">Productos</a></li>
                            <li class="breadcrumb-item active">Carrito</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Carrito</h4>
                </div>
            </div>
        </div>
        <!-- end page title --> 

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive col-12">
                        <table class="table table-borderless table-centered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th style="width: 50px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each carrito}}
                                    <tr id="{{this.external}}">
                                        <td>
                                            <img src="{{this.imagesUrl.url}}" alt="{{this.nombre}}"
                                                title="{{this.nombre}}" class="rounded mr-3" height="48" />
                                            <p class="m-0 d-inline-block align-middle font-16">
                                                <a href="{{this.tienda}}/producto/{{this.id_producto}}" class="text-reset font-family-secondary">{{this.nombre}}</a>
                                                <br>
                                                {{#each this.atributos}}
                                                    <small class="mr-2"><b>{{@key}}:</b> {{this}} </small>
                                                {{/each}}
                                            </p>
                                        </td>
                                        <td>
                                            {{this.precio}}
                                        </td>
                                        <td>
                                            <input type="number" min="1" data-function="adicionar" data-id="{{this.external}}" value="{{this.cantidad}}" max="{{this.detalles.cantidad}}" class="form-control" placeholder="Qty" style="width: 90px;">
                                        </td>
                                        <td class="total-item">
                                            {{#calcular_precio this}}
                                            {{/calcular_precio}}
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" data-function="quitar" data-id="{{this.external}}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div>

                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="form-group">
                            <label for="ciudadD">Ciudad <span class="text-danger">*</span></label>
                            <input class="form-control"
                            type="text" placeholder="Seleccionar del desplegable" id="ciudadD" required/>
                            <div class="invalid-feedback">Recuerde seleccionar un valor del menú desplegable</div>
                        </div>
                    </div>
                    <div class="col border p-3 mt-4 mt-lg-0 rounded">
                        <h4 class="header-title mb-3">Cotización</h4>

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Sub Total :</td>
                                        <td id="sub-total">{{calcTotal carrito}}</td>
                                    </tr>
                                    <tr>
                                        <td>Costo de envío : </td>
                                        <td id="costo-envio"></td>
                                    </tr>
                                    <tr>
                                        <th>Total :</th>
                                        <th id="total"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>

                    <div class="col-md-8">
                        <div class="tab-content p-3">
                            <div class="tab-pane fade active show" id="custom-v-pills-billing" role="tabpanel" aria-labelledby="custom-v-pills-billing-tab">
                                <div>
                                    <h4 class="header-title">Información de contácto</h4>

                                    <p class="sub-header">Lllena el formulario a continuación para proseguir con su compra</p>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="billing-nombre">Nombre <span class="text-danger">*</span></label>
                                                    <input class="form-control" type="text" placeholder="Ingrese su nombre" id="billing-nombre" required/>
                                                    <div class="invalid-feedback">Por favor ingrese su nombre</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="billing-apellido">Apellido</label>
                                                    <input class="form-control" type="text" placeholder="ingrese su apellido" id="billing-apellido" />
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="billing-email">Correo electrónico</label>
                                                    <input class="form-control" type="email" data-campo="correoD" placeholder="Enter your email" id="billing-email" />
                                                    <div class="invalid-feedback">Ingrese un correo válido</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="billing-phone">Teléfono <span class="text-danger">*</span></label>
                                                    <input class="form-control" type="number" data-campo="telefonoD" maxlength="10" placeholder="1234567890" id="billing-phone" required/>
                                                    <div class="invalid-feedback">Por favor ingrese un número válido</div>
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="billing-phone2">Otro Celular</label>
                                                    <input class="form-control" type="number" data-campo="celularD" maxlength="10" placeholder="1234567890" id="billing-phone2">
                                                    <div class="invalid-feedback">Por favor ingrese un número válido</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="billing-barrio">Barrio <span class="text-danger">*</span></label>
                                                    <input class="form-control" type="text" placeholder="Ingresar barrio" id="billing-barrio" required/>
                                                    <div class="invalid-feedback">Este campo no debe estar vacío</div>
                                                </div>
                                            </div>
                                            
                                        </div> <!-- end row -->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="billing-direccion">Dirección <span class="text-danger">*</span></label>
                                                    <input class="form-control" type="text" placeholder="Ingrese dirección" id="billing-direccion" required>
                                                    <div class="invalid-feedback">Este campo no debe estar vacío</div>
                                                </div>
                                            </div>
                                            
                                        </div> <!-- end row -->

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group mt-3">
                                                    <label for="example-textarea">notas adicionales:</label>
                                                    <textarea class="form-control" id="example-textarea" data-campo="observaciones" 
                                                    rows="3" placeholder="Escribe alguna información adicional"></textarea>
                                                </div>
                                            </div>
                                        </div> <!-- end row -->

                                        <div class="row mt-4">
                                            <div class="col-sm-6">
                                                <a href="javascript: history.back()" class="btn btn-secondary">
                                                    <i class="mdi mdi-arrow-left"></i> Regresar </a>
                                            </div> <!-- end col -->
                                            <div class="col-sm-6">
                                                <div class="text-sm-right mt-2 mt-sm-0">
                                                    <a href="javascript:void(0)" id="comprar" data-tienda="{{session.tienda}}" class="btn btn-success">
                                                        <i class="mdi mdi-truck-fast mr-1"></i> Comprar </a>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                    </form>
                                </div>    
                            </div>
                        </div>
                    </div> <!-- end col-->
                </div> 
            </div> <!-- end card-body-->
        </div> <!-- end card-->
        
    </div> <!-- container -->

</div> <!-- content -->

{{!-- <script src="/js/render.js"></script> --}}
<script src="/js/consultarCiudades.js" type="module"></script>
<script src="/js/cotizador.js"></script>
<script src="/js/carrito.js" type="module"></script>
