<div class="card-box shadow mt-2 mt-md-3">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/{{producto.nombre_tienda}}/productos">Productos</a></li>
                        <li class="breadcrumb-item active">{{producto.nombre}}</li>
                    </ol>
                </div>
                <h4 class="page-title">{{producto.nombre}}</h4>
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-lg-5">

            <div class="tab-content pt-0">
                {{#each producto.imagesUrl}}
                    <div class="tab-pane {{#unless @index}}active show{{/unless}}" id="product-{{@index}}-item">
                        <img src="{{this.url}}" alt="" class="img-fluid mx-auto d-block rounded">
                    </div>
                {{/each}}
                
                <div class="tab-pane" id="product-5-item">
                    <img src="/assets/images/products/product-10.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                </div>
                <div class="tab-pane" id="product-6-item">
                    <img src="/assets/images/products/product-11.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                </div>
                <div class="tab-pane" id="product-7-item">
                    <img src="/assets/images/products/product-12.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                </div>
            </div>

            <ul class="nav nav-pills nav-justified">
                {{#each producto.imagesUrl}}
                    <li class="nav-item">
                        <a href="#product-{{@index}}-item" data-toggle="tab" aria-expanded="false" class="nav-link product-thumb {{#unless @index}}active show{{/unless}}">
                            <img src="{{this.url}}" alt="" class="img-fluid mx-auto d-block rounded">
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div> <!-- end col -->
        <div class="col-lg-7">
            <div class="pl-xl-3 mt-3 mt-xl-0">
                <a href="#" class="text-primary">{{producto.nombre}}</a>
                <h4 class="mb-3">{{producto.descripcion}}</h4>
                {{!-- <p class="text-muted float-left mr-3">
                    <span class="mdi mdi-star text-warning"></span>
                    <span class="mdi mdi-star text-warning"></span>
                    <span class="mdi mdi-star text-warning"></span>
                    <span class="mdi mdi-star text-warning"></span>
                    <span class="mdi mdi-star"></span>
                </p> --}}
                {{!-- <p class="mb-4"><a href="" class="text-muted">( 36 Customer Reviews )</a></p> --}}
                {{!-- <h6 class="text-danger text-uppercase">20 % Off</h6> --}}
                <h4 class="mb-4">Precio : <b id="mostrador-precio" style="transition: 0.5s;">{{getCurrency producto.precio}}</b></h4>
                <h4><span class="badge bg-soft-success text-success mb-4">{{producto.categoria}}</span></h4>
                <div class="mb-4">{{{producto.descripcion_detallada}}}</div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div>
                            <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i><b>Alto:</b> <spam>{{producto.alto}}</spam> Centímetros</p>
                            <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i><b>Largo:</b> <spam>{{producto.largo}}</spam> Centímetros</p>
                            <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i><b>Ancho:</b> <spam>{{producto.ancho}}</spam> Centímetros</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i><b>Peso:</b> <spam>{{producto.peso}}</spam> Kg</p>
                            <p class="text-muted"><i class="mdi mdi-checkbox-marked-circle-outline h6 text-primary mr-2"></i><b>Inventario:</b> <spam id="mostrador-inventario" style="transition: 0.5s;">{{producto.cantidad}}</spam> Unidades</p>
                        </div>
                    </div>
                </div>
                
                {{#listar_atributos producto.stock}}   
                    <li>{{this}}</li>
                {{/listar_atributos}}

                <div>
                    {{!-- <button type="button" class="btn btn-danger mr-2"><i class="mdi mdi-heart-outline"></i></button> --}}
                    <button type="button" id="agregar-al-carrito" data-tienda="{{producto.nombre_tienda}}" data-storeId="{{producto.storeId}}" data-id="{{producto.id}}" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label"><i class="mdi mdi-cart"></i></span>Añadir al carrito
                    </button>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
</div>

<!-- end row -->