<!-- Portada y logo-->
<div class="row">
    <div class="logo-portada col-12" 
    id="logo-portada-tienda">
        <figure id="portada-tienda"
        style="width: 100%; height: 20vh;
        background-image: url('{{#unless tienda.portadaUrl}}/img/undraw_posting_photo.svg{{/unless}} {{tienda.portadaUrl}}');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 0">
        </figure>

        <figure id="contenedor-logo-tienda"
        class="mt-n4 ml-md-4 ml-1 d-flex align-items-center">
            <img src="{{#unless tienda.logoUrl}}/img/unnamed.png{{/unless}}{{tienda.logoUrl}}" id="img-logo-tienda" alt="Logo tienda" 
            class="img-fluid rounded-circle"
            style="height:100px; width: 100px;">
            <div class="mt-4 ml-3">
                <h2 class="text-dark font-weight-bold text-wrap d-none d-sm-block"
                data-store_info="nombre_tienda">{{tienda.nombre_tienda}}</h2>
                <h3 class="text-dark font-weight-bold text-wrap d-sm-none"
                data-store_info="nombre_tienda">{{tienda.nombre_tienda}}</h3>
                <a href="https://wa.me/57{{tienda.celular}}" class="btn btn-white btn-rounded"><i class="fab fa-whatsapp" style="color: #25D366"></i><span class="ml-2" data-link="true" data-store_info="celular">{{tienda.celular}}</span></a>
            </div>
           
        </figure>
    </div>
</div>

<!--Información de la tienda-->
<div class="row my-1" id="informacion-tienda">
    {{!-- <div class="offset-1 col mb-3">
        <h5><i class="fa fa-user"></i><spam class="ml-2" data-store_info="nombre"></spam></h5>
        <h5><i class="fa fa-mobile-alt"></i><spam class="ml-2" data-store_info="celular"></spam></h5>
        <h5><i class="fa fa-envelope"></i><spam class="ml-2" data-store_info="correo"></spam></h5>
    </div> --}}

    <div class="col-12" data-store_info="descripcion">
        {{!-- Recordar que esta información viene en formato de html --}}
        <div class="card">
            <div class="card-body">
                {{{tienda.descripcion}}}
                {{#if tienda.mostrar_transportadoras}}
                    <div class="row align-items-center justify-content-around">
                        <div class="col-12 text-center">
                            <h3>Logística</h3>
                        </div>
                        <div class="col-6 text-center d-md-none">
                            <img src="/img/logo-inter2.png" alt="" style="height: 28px; max-width: 95%">
                        </div>
                        <div class="col-6 text-center d-none d-md-block">
                            <img src="/img/logo-inter2.png" alt="" style="max-height: 50px; max-width: 95%">
                        </div>

                        <div class="col-6 text-center d-md-none">
                            <img src="/img/logo-servi2.svg" alt="" style="height: 28px; max-width: 95%;">
                        </div>
                        <div class="col-6 text-center d-none d-md-block">
                            <img src="/img/logo-servi2.svg" alt="" style="max-height: 50px; max-width: 95%;">
                        </div>

                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{!-- <div class="row d-none">
    <div class="col-12">
        <div class="card-box">
            <form class="form-inline">
                <div class="form-group">
                    <label for="inp-search-product" class="sr-only">Buscar</label>
                    <input type="search" class="form-control" id="inp-search-product" placeholder="Buscar...">
                </div>
                <div class="form-group m-sm-2">
                    <label for="sort-select" class="mr-2">Organizar por</label>
                    <select class="custom-select" id="sort-select">
                        <option selected="">seleccione</option>
                        <option value="1">Precios bajos</option>
                        <option value="2">Precios altos</option>
                    </select>
                </div>
            </form>
        </div> <!-- end card-box -->
    </div> <!-- end col-->
</div> --}}

<!-- filtro y clasificación -->
<div class="row justify-content-center">
    <div class="col-12">
        <div class="navbar-nav-scroll mb-2 swiper">
            <ul class="navbar-nav bd-navbar-nav flex-row swiper-wrapper align-items-center"
            id="categoria-select">
                <li class="nav-item swiper-slide category-filter"
                data-category="">
                    <a class="btn btn-white btn-rounded waves-effect waves-light d-flex justify-content-center align-items-baseline flex-wrap " href="javascript:void(0)"> Todas<span class="badge bg-primary text-white mx-1 " >{{productos.length}}</span></a> 
                </li>
                {{#categorias productos}}
                    <li class="nav-item swiper-slide category-filter"
                    data-category="{{this.categoria}}">
                        <a class="btn btn-white btn-rounded waves-effect waves-light d-flex justify-content-center align-items-baseline flex-wrap " href="javascript:void(0)"> {{this.categoria}}<span class="badge bg-info text-white mx-1 " >{{this.cantidadCategorias}}</span></a> 
                    </li>
                {{/categorias}}
            </ul>
        </div>
    </div>

</div>

<!-- Productos disponibles en la tienda -->
<div class="row p-2">
    {{#each productos}}
    <div class="col-6 col-sm-4 producto ver" data-filter-categoria="{{this.categoria}}"
        data-filter-name="{{this.nombre}}" data-sort-precio="{{this.precio}}">
        <div class="card-box p-1 pb-2 product-box shadow border" style="border-radius: 20px;">

            <div class="product-action">
                <a href="/{{this.nombre_tienda}}/producto/{{this.id}}" class="btn btn-success btn-xs waves-effect waves-light"><i class="mdi mdi-eye"></i> Ver producto</a>
            </div>

            <a href="/{{this.nombre_tienda}}/producto/{{this.id}}" 
            class="bg-light contenedor-img">
                <img src="{{this.showImg}}" alt="{{this.nombre}}" title="Ver {{this.nombre}}" class="img-fluid" width="100%" height="100%"
                style="border-radius: 20px"/>
            </a>

            <div class="product-info pt-1 pt-sm-3">
                <div class="row align-items-center">
                    <div class="col-12 col-sm">
                        <div class="px-1">
                            <h4 class="my-0 text-truncate font-weight-bold">
                                <a href="/{{this.nombre_tienda}}/producto/{{this.id}}" 
                                title="{{this.nombre}}"
                                >{{this.nombre}}</a>
                            </h4>
                            <div class="text-info mb-1 font-13 d-none d-md-block text-truncate">
                                {{this.categoria}}{{#unless this.categoria}}Sin categoría{{/unless}}
                            </div>
                            <h6 class="m-0 d-none d-md-block"> <span class="text-muted text-nowrap"> Stocks : {{this.showStock.detalles.cantidad}} pcs</span></h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="product-price-tag d-none d-md-block">
                            {{getCurrency this.precio}}
                        </div>
                        <h5 class="p-1 text-info my-0 d-md-none">
                            {{getCurrency this.precio}}
                        </h5>
                    </div>
                    <div class="col-12 d-md-none text-center">
                        <a href="/{{this.nombre_tienda}}/producto/{{this.id}}" 
                        class="btn btn-primary btn-rounded waves-effect waves-light text-truncate btn-sm mt-2"><i class="mdi mdi-eye"></i> Ver producto</a>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end product info-->

        </div> <!-- end card-box-->
    </div> <!-- end col-->
    {{/each}}
</div>