<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Historico Guía</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/img/logo-heka.png">

    <!-- App css -->
    <link href="/assets/css/bootstrap-modern.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="/assets/css/bootstrap-modern-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
    <link href="/assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>


    <script src="/assets/libs/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="/assets/libs/dropzone/min/dropzone.min.css">
    
    <!--Swippers-->
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <link href="/assets/libs/animate.css/animate.min.css" rel="stylesheet" type="text/css">    

</head>

  <body class="loading" data-layout-mode="detached" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "light"}, "sidebar": { "color": "light", "size": "default", "showuser": false}, "showRightSidebarOnPageLoad": true}'>
    <div id="wrapper">

      <!-- Topbar Start -->
      <div class="navbar-custom">
          <div class="container-fluid">
              <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="d-none d-lg-block">
                    <form class="app-search" method="get">
                        <div class="app-search-box dropdown">
                            <div class="input-group">
                                <input type="search" name="n" class="form-control top-search" placeholder="Número guía">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>  
                        </div>
                    </form>
                </li>

                <li class="dropdown d-inline-block d-lg-none">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fe-search noti-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-lg dropdown-menu-right p-0" style="">
                        <form class="p-3">
                            <input type="text" class="form-control top-search" placeholder="filtrar" aria-label="Recipient's username">
                        </form>
                    </div>
                </li>

                <li class="dropdown d-none d-lg-inline-block">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
                        <i class="fe-maximize noti-icon"></i>
                    </a>
                </li>

                <li class="dropdown d-none d-lg-inline-block topbar-dropdown">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/img/bandera_colombia.png" alt="user-image" height="16">
                    </a>
                </li>
              </ul>

              <!-- LOGO -->
              <div class="logo-box">
                  <a href="/index.html" class="logo text-center">
                    <img src="{{#unless tienda.logoUrl}}/img/logo-heka.png{{/unless}}{{tienda.logoUrl}}" class="rounded-circle" alt="Logo tienda" height="40">
                  </a>
              </div>

              <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                  {{!-- <li class="">
                      <button class="button-menu-mobile waves-effect waves-light">
                          <i class="fe-menu"></i>
                      </button>
                  </li> --}}

                  <li>
                      <!-- Mobile menu toggle (Horizontal Layout)-->
                      <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                          <div class="lines">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </a>
                      <!-- End mobile menu toggle-->
                  </li>   
      
                  {{!-- <li class="dropdown d-none d-md-block">
                      <a class="nav-link dropdown-toggle waves-effect waves-light"
                      id="mostrar-productos" data-tienda="{{tienda}}" data-toggle="dropdown"
                      href="#" role="button" aria-haspopup="false" aria-expanded="false">
                          Productos
                          <i class="mdi mdi-chevron-down"></i> 
                      </a>
                      <div class="dropdown-menu empty"></div>
                  </li> --}}
              </ul>
              {{!-- <div class="clearfix"></div> --}}
          </div>
      </div>
      <!-- end Topbar -->

      <!-- ========== Left Sidebar Start ========== -->
      {{!-- <div class="left-side-menu" style="height: 50vh;">

          <div class="h-100" data-simplebar>

              <!-- User box -->
              <div class="user-box text-center">
                  <img src="/img/logo-heka.png" alt="Logo tienda" title="Mat Helme"
                      class="rounded-circle avatar-md">
                  <div class="dropdown">
                      <a href="javascript: void(0);" class="text-dark font-weight-normal dropdown-toggle h5 mt-2 mb-1 d-block"
                          data-toggle="dropdown" data-store_info="nombre_tienda">Nombre tienda</a>
                      <div class="dropdown-menu user-pro-dropdown">

                          <!-- item-->
                          <a href="/" class="dropdown-item notify-item">
                              <i class="fa fa-store mr-1"></i>
                              <span>Productos</span>
                          </a>

                          <!-- item-->
                          <a href="/{{tienda}}/carrito" class="dropdown-item notify-item">
                              <i class="fa fa-shopping-cart mr-1"></i>
                              <span>Carrito</span>
                          </a>
                      </div>
                  </div>
                  <p class="text-muted text-truncate mx-2" data-store_info="descripcion">comentarios agregados de la tienda u alguna descripcion</p>
                  <p class="text-muted mx-2" data-store_info="nombre"></p>
                  <p class="text-muted mx-2" data-store_info="celular"></p>
                  <p class="text-muted mx-2" data-store_info="correo"></p>
              </div>

              <!--- Sidemenu -->
              <div id="sidebar-menu">

                  <ul id="side-menu">
                      <li class="menu-title mt-2">Tienda</li>
                      <li>
                        <a href="#sidebarCarrito" data-toggle="collapse">
                            <i data-feather="shopping-bag"></i>
                            <span class="badge badge-success badge-pill float-right counter-carrito d-none"></span>
                            <span> Carrito </span>
                        </a>
                        <div class="collapse" id="sidebarCarrito">
                            <ul class="nav-second-level" id="carrito-side-menu"></ul>
                        </div>
                    </li>

                    <li>
                        <a href="/{{tienda}}/carrito">
                            <i data-feather="shopping-cart"></i>
                            <span> Ver carrito </span>
                        </a>
                    </li>
                      
                    <li>
                        <a href="/{{tienda}}/productos">
                            <i data-feather="archive"></i>
                            <span> Productos </span>
                        </a>
                    </li>

                  </ul>

              </div>
              <!-- End Sidebar -->

              <div class="clearfix"></div>

          </div>
          <!-- Sidebar -left -->

      </div> --}}
      <!-- Left Sidebar End -->

      <div class="content-page mx-0 p-0">
          <div class="container-fluid pt-3" style="max-width: 800px; min-height: 80vh">
            <div class="card-box shadow mt-2 mt-md-3">
            {{{body}}}
            </div>
          </div>
        

        <!-- Footer Start -->
        <footer class="footer text-center fixed-bottom" >
                        2018 - <script>document.write(new Date().getFullYear())</script> &copy; <a href="/">Heka Entrega</a> 
        </footer>
        <!-- end Footer -->
          
      </div>


    </div>
    
    <!-- Vendor js -->
    <script src="/assets/js/vendor.min.js"></script>

    {{!-- <script src="/public/plantilla/js/hostNameReader.js" type="module"></script> --}}
    <script>
        const dominiosFlexii = ["flexii.co", "www.flexi.co","localhost:6200"];
const brands = {
  heka: {
    nombre: "HEKA",
    cod: "H001",
    nombre_completo: "Heka Entrega",
    cel_area_comercial:"+57 312 463 8608",
    correo:" atencion@hekaentrega.co",
    hosts: ["hekaentrega.co"],
    index:"../index.html"
  },
  flexii: {
    nombre: "FLEXII",
    cod: "H001",
    nombre_completo: "Flexii",
    cel_area_comercial:"+57 312 463 8608",
    correo:" atencion@flexii.co",
    hosts: ["flexii.co"],
    index: "../index-flexii-2.html"
  }
}
hostnameReader()
function hostnameReader(){
  const hostname = window.location.host
  const element = $(".copyrightWord")
  const indexLink = $(".indexLink")
  const brandName = $("#brandName")
  const correoAtencionCliente = $(".correo-atencion")
  if(dominiosFlexii.includes(hostname)) {
    element.text(brands.flexii.nombre_completo) 
    indexLink.attr("href", brands.flexii.index)
    brandName.text(brands.flexii.nombre) 
    correoAtencionCliente.text(brands.flexii.correo)
    correoAtencionCliente.attr("href","mailto:"+brands.flexii.correo)
  }else{
    element.text(brands.heka.nombre_completo) 
    indexLink.attr("href", brands.heka.index)
    brandName.text(brands.heka.nombre) 
    correoAtencionCliente.text(brands.heka.correo)
    correoAtencionCliente.attr("href","mailto:"+brands.heka.correo)
  }

}
    </script>


    <!-- App js -->
    <script src="/assets/js/app.min.js"></script>
  </body>
</html>