<!DOCTYPE html>
<html lang="es" class="{{#if tienda.colores}}personalizado{{/if}}">
<head>
    <meta charset="utf-8" />
    <title>Tiendas - Heka entrega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/img/heka entrega.png">

    <!-- App css -->
    <link href="/assets/css/bootstrap-modern.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
    <link href="/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

    <link href="/assets/css/bootstrap-modern-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
    <link href="/assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

    <!-- icons -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>


    <script src="/assets/libs/dropzone/dropzone.js"></script>
    <link rel="stylesheet" href="/assets/libs/dropzone/min/dropzone.min.css">
    
    <!--Swippers-->
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <link href="/assets/libs/animate.css/animate.min.css" rel="stylesheet" type="text/css">

    <style>
        :root.personalizado {
            --primary: {{tienda.colores.primary}};
            --info: {{tienda.colores.info}}
        }
    </style>
    

</head>
  <body class="loading" data-layout-mode="detached" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "light"}, "sidebar": { "color": "light", "size": "default", "showuser": false}, "showRightSidebarOnPageLoad": true}'>
    <div id="wrapper">

      <!-- Topbar Start -->
      <div class="navbar-custom">
          <div class="container-fluid">
              <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="d-none d-lg-block">
                    <form class="app-search">
                        <div class="app-search-box dropdown">
                            <div class="input-group">
                                <input type="search" class="form-control top-search" placeholder="Filtrar productos">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>  
                        </div>
                    </form>
                </li>

                <li class="dropdown d-inline-block d-lg-none">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="fe-search noti-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-lg dropdown-menu-right p-0" style="">
                        <form class="p-3">
                            <input type="text" class="form-control top-search" placeholder="filtrar" aria-label="Recipient's username">
                        </form>
                    </div>
                </li>

                <li class="dropdown d-none d-lg-inline-block">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
                        <i class="fe-maximize noti-icon"></i>
                    </a>
                </li>

                <li class="dropdown d-none d-lg-inline-block topbar-dropdown">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/img/bandera_colombia.png" alt="user-image" height="16">
                    </a>
                </li>

                <li class="dropdown notification-list topbar-dropdown">
                  <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                      <i class="fe-shopping-cart noti-icon"></i>
                      <span class="badge badge-danger rounded-circle noti-icon-badge counter-carrito d-none"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                      <!-- item-->
                      <div class="dropdown-item noti-title">
                          <h5 class="m-0">
                              <span class="float-right vaciar-carrito">
                                Vaciar
                              </span>Carrito de Compra
                          </h5>
                      </div>

                      <div class="noti-scroll" id="carrito-noti">
                          <!-- item-->
                      </div>

                      <!-- All-->
                      <a href="/{{tienda.tienda}}/carrito" class="dropdown-item text-center text-primary notify-item notify-all">
                          Ver carrito
                          <i class="fe-arrow-right"></i>
                      </a>

                  </div>
                </li>
              </ul>

              <!-- LOGO -->
              <div class="logo-box">
                  <a href="/{{tienda.tienda}}/productos" class="logo text-center">
                    <img src="{{#unless tienda.logoUrl}}/img/heka entrega.png{{/unless}}{{tienda.logoUrl}}" class="rounded-circle" alt="Logo tienda" height="40">
                  </a>
              </div>

              <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                  {{!-- <li class="">
                      <button class="button-menu-mobile waves-effect waves-light">
                          <i class="fe-menu"></i>
                      </button>
                  </li> --}}

                  <li>
                      <!-- Mobile menu toggle (Horizontal Layout)-->
                      <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                          <div class="lines">
                              <span></span>
                              <span></span>
                              <span></span>
                          </div>
                      </a>
                      <!-- End mobile menu toggle-->
                  </li>   
      
                  {{!-- <li class="dropdown d-none d-md-block">
                      <a class="nav-link dropdown-toggle waves-effect waves-light"
                      id="mostrar-productos" data-tienda="{{tienda}}" data-toggle="dropdown"
                      href="#" role="button" aria-haspopup="false" aria-expanded="false">
                          Productos
                          <i class="mdi mdi-chevron-down"></i> 
                      </a>
                      <div class="dropdown-menu empty"></div>
                  </li> --}}
              </ul>
              {{!-- <div class="clearfix"></div> --}}
          </div>
      </div>
      <!-- end Topbar -->

      <!-- ========== Left Sidebar Start ========== -->
      {{!-- <div class="left-side-menu" style="height: 50vh;">

          <div class="h-100" data-simplebar>

              <!-- User box -->
              <div class="user-box text-center">
                  <img src="/img/heka entrega.png" alt="Logo tienda" title="Mat Helme"
                      class="rounded-circle avatar-md">
                  <div class="dropdown">
                      <a href="javascript: void(0);" class="text-dark font-weight-normal dropdown-toggle h5 mt-2 mb-1 d-block"
                          data-toggle="dropdown" data-store_info="nombre_tienda">Nombre tienda</a>
                      <div class="dropdown-menu user-pro-dropdown">

                          <!-- item-->
                          <a href="/" class="dropdown-item notify-item">
                              <i class="fa fa-store mr-1"></i>
                              <span>Productos</span>
                          </a>

                          <!-- item-->
                          <a href="/{{tienda}}/carrito" class="dropdown-item notify-item">
                              <i class="fa fa-shopping-cart mr-1"></i>
                              <span>Carrito</span>
                          </a>
                      </div>
                  </div>
                  <p class="text-muted text-truncate mx-2" data-store_info="descripcion">comentarios agregados de la tienda u alguna descripcion</p>
                  <p class="text-muted mx-2" data-store_info="nombre"></p>
                  <p class="text-muted mx-2" data-store_info="celular"></p>
                  <p class="text-muted mx-2" data-store_info="correo"></p>
              </div>

              <!--- Sidemenu -->
              <div id="sidebar-menu">

                  <ul id="side-menu">
                      <li class="menu-title mt-2">Tienda</li>
                      <li>
                        <a href="#sidebarCarrito" data-toggle="collapse">
                            <i data-feather="shopping-bag"></i>
                            <span class="badge badge-success badge-pill float-right counter-carrito d-none"></span>
                            <span> Carrito </span>
                        </a>
                        <div class="collapse" id="sidebarCarrito">
                            <ul class="nav-second-level" id="carrito-side-menu"></ul>
                        </div>
                    </li>

                    <li>
                        <a href="/{{tienda}}/carrito">
                            <i data-feather="shopping-cart"></i>
                            <span> Ver carrito </span>
                        </a>
                    </li>
                      
                    <li>
                        <a href="/{{tienda}}/productos">
                            <i data-feather="archive"></i>
                            <span> Productos </span>
                        </a>
                    </li>

                  </ul>

              </div>
              <!-- End Sidebar -->

              <div class="clearfix"></div>

          </div>
          <!-- Sidebar -left -->

      </div> --}}
      <!-- Left Sidebar End -->

      <div class="content-page mx-0 p-0">
          <div style="max-width: 750px;" class="m-auto">
            {{{body}}}

          </div>
        {{!-- <div class="content">
          <div class="container-fluid" style="max-width: 800px;">
            <div class="card-box shadow mt-2 mt-md-3">
            </div>
          </div> --}}
        </div>


        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2018 - <script>document.write(new Date().getFullYear())</script> &copy; <a href="/">Heka Entrega</a> 
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="/index.html">Inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
          
      </div>


    </div>
    
    <!-- Vendor js -->
    <script src="/assets/js/vendor.min.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.min.js"></script>
    <script src="/js/tienda.js" type="module"></script>
  </body>
</html>