<h2 class="d-flex justify-content-between">
  <div class="text-left">
    <p style="font-size:20px">Estado de la guía</p>

    {{#if guia.enNovedad}}
    <span class="text-primary m-0">EN NOVEDAD</span>

    {{else}}
    <span class="text-primary m-0">{{guia.estado}}</span>

    {{/if}}
  </div>



  <div class="text-right">
    <p style="font-size:18px">Número de la guía</p>
    <p class="text-primary m-0">{{guia.numeroGuia}}</p>

  </div>
</h2>
<div class="d-flex justify-content-between">
  <p style="font-size: 14px;">Destino: {{guia.ciudadDestino}}</p>
  <p style="font-size: 14px;">Origen: {{guia.ciudadOrigen}}</p>
</div>

<div>

  <div id="detalles" class="tab-pane active show fade p-2">
    {{#if guia.enNovedad}}

    <div class="alert alert-warning fade show" role="alert" id="alerta_novedad-guias_hist">
      <h5 class="text-center">
        <i class="fa fa-exclamation-triangle text-warning "></i>
        Tu envio se encuentra
        <b>en novedad,</b>
        por favor gestionalo en el menor tiempo posible para evitar
        devoluciones
      </h5>
      <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal">Gestionar
        Novedad</button>

    </div>

    {{/if}}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      style="padding-top: 100px;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <h3 class="text-primary text-center">Gestionar novedad</h3>
            <form class="form-sol">
              {{#if guia.formularioNovedad}}
              <div id="render_form-mensajeria" data-formulario="{{guia.formularioStr}}"></div>
              <button class="btn btn-primary btn-block" type="submit">Solucionar</button>
              <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cancelar</button>


              {{else}}
              <div>
                <input type="text" class="d-none" name="numeroGuia" value="{{guia.numeroGuia}}" />
                <input type="text" class="d-none" name="fechaMovimiento" value="{{novedadActual.fechaMov}}" />
                <div class="form-group d-none">
                  <label for="respuesta-simple">{{novedadActual.tituloRespuesta}}</label>
                  <select class="custom-select" name="respuestaSimple" id="respuesta-simple"
                    data-tipo="{{novedadActual.tipo_solucion}}">
                    <option value> -- Seleccione -- </option>
                    <option value="1">SI</option>
                    <option value="0">NO</option>
                  </select>
                </div>

                <div class="form-group d-none" id="direccion">
                  <label for="direccion-novedad">Agregar Dirección</label>
                  <input type="text" id="direccion-novedad" class="form-control" name="direccion" />
                </div>

                <div class="form-group" id="observaciones">
                  {{#if guia.novedadDireccion}}
                  <h5>dirección incorrecta!</h5>

                  {{else}}
                  <h5 for="observaciones-novedad">Tu envío presenta la
                    siguiente novedad:
                    <b class="text-danger">{{novedadActual.novedad}}</b>
                    por favor ingresa una solución y oprime el botón
                    “solucionar”
                  </h5>

                  <textarea type="text" for="observaciones-novedad" class="form-control" name="gestion"></textarea>
                </div>

                <div class="d-flex flex-column justify-content-between" style="height: 78px;
                  ">
                  <button class="btn btn-primary btn-block" type="submit">Solucionar</button>


                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>

                {{/if}}

                {{/if}}

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <div class="bg-light" style="width: 100%; height:5px; margin-top: 10px;"></div>

      <h2 class="text-center text-primary">Movimientos guía</h2>
      {{#each guia.movimientos}}
      <li class="list-group-item d-flex align-items-center">
        <span class="badge badge-primary badge-pill mr-2 d-flex">{{index
          @index
          }}</span>
        <div class="d-flex flex-column w-100">
          <small class="d-flex justify-content-between">
            {{#if this.novedad}}
            <h6 class="text-danger">En novedad</h6>
            {{/if}}
            <h6>{{this.fechaMov}}</h6>
          </small>

          <h4>{{this.descripcionMov}}</h4>

          <p class="mb-1"><b>{{this.observacion}}</b></p>

          <p class="mb-1"><i class="fa fa-map-marker-alt mr-2 text-primary"></i>{{this.ubicacion}}</p>

          <p class="mb-1"><span class="text-danger">{{this.novedad}}</span></p>

        </div>
      </li>
      {{/each}}
    </ul>

  </div>
</div>

<script src="/js/movimientoGuias/movimientosExt.js" type="module"></script>